.container-fluid{
    background-image: url(../6010531.jpg);
    width: 100%;
    height: 100vh;
}
#h1{
    font-size: 5rem;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin: 53px 0px;
}

#p1 , #p2 , #p3 {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
}


button {
    width: 250px;
    height: 80px;
    background-color: green;
    color: white;
}

